@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

h1 {
    font-family: 'Itim', cursive;
    font-size: 36px;
    margin: 0 auto;
}

.container {
    border:5px ridge black;
    background-color: rgb(200, 250, 250);
}

.add_link {
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.link {
    font-family: 'Itim', cursive;
}

.journal {
    width: 60%;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 100px;
}

.about_link {
    font-family: 'Itim', cursive;
}

.about {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}